[user]
	email = sanaaennaji93@gmail.com
	name = sanaa-ennaji
[safe]
	directory = //wsl.localhost/Ubuntu/home/sanaa/kmapp
	directory = C:/Users/sanaa/eclipse-workspace/TransportReservationSystem
	directory = C:/Users/sanaa/eclipse-workspace/TransportReservationSystem
	directory = C:/Users/sanaa/eclipse-workspace/TransportReservationSystem
	directory = C:/Users/sanaa/eclipse-workspace/TransportReservationSystem
	directory = C:/Users/sanaa/eclipse-workspace/TransportReservationSystem
